form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Center the form header */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color:rgba(8, 8, 154, 0.774);
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form inputs */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Style radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #0bba14;
    color: #f9f8f8;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color:green;
}


body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: cover;
}


